*{
    margin: 0;
    padding: 0;
    font-size: "poppins", sans-serif;
    box-sizing: border-box;
    transition: all 0.5s linear;
    
}
section{
  display: grid;
  place-content: center;
  min-height: 100vh;
}

.navbar{
    background: #47a6ff;
    position: sticky;
    top: 0;

}
.mar{
  display: flex;
  justify-content: center;
  
  
}
.mar1{
  background-color: #081ff5;
  border: 0;
}


.navbar{
  background: #47a6ff;
  position: sticky;
  
}
.navbar a {
    color: #000000;
    display: inline-block;
    padding: 20px;
    width: 100%;
    text-align: center;
    color: #000000;
    transition: .3s ease-out all;

}
.navar a:haver {

}
.col1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(255, 255, 255);
}
.presentacion{
    height: 360px;
    width: 640px;
    position: relative;
   
}
.presentacion .front,
.presentacion .back{
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 24px;
    overflow: hidden;
}
.presentacion .front{ 
    background-color: rgba(26, 28, 133, 0.623);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.presentacion:hover .front{
   transform: perspective(700px) rotateX(180deg);

}

.presentacion .front img{
    width: 96px;
    height: 96px;
    object-fit: cover;

}
.empresa{
    color: #000000;
}
.presentacion .front .empresa{
font-size: 32px;
font-weight: 600;
margin-top: 19px;
}


.presentacion .front::before{
    content: "";
    border-radius: 50%;
    border: 8px solid #191654;
    position: absolute;
    top: -25%;
    height: 150%;
    width: 320px;
    transform: rotateZ(35deg);

}
.presentacion .back{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242424;
    transform: perspective(700px) rotateX(-180deg);
  }
  .presentacion:hover .back{
    transform: perspective(700px) rotateX(0deg);
  }
  .presentacion .back .imagen,
  .presentacion .back .info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
  }

  .presentacion .back .imagen{
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: #081ff5;
    color: #ffffff;
    align-items: center;
  }
  .presentacion .back .imagen img{
    width: 112px;
    height: 112px;
    object-fit: cover;
    border: 2px solid #0000003f;
    border-radius: 50%;
    padding: 4px;
    margin-bottom: 16px;

  }
  .presentacion .back .imagen h1{
    font-size: 21px;
    font-weight: 600;
    margin-block: 8px;
  }
  .presentacion .back .imagen p{
    font-size: 16px;
    font-weight: 500;
  }
  .presentacion .back .info{
    align-items: flex-start;
    color: #3be9e0;
  }
  .presentacion .back .info .contacto i{
    line-height: 32px;
    margin-block: 8px;
  }
  .presentacion .back .info .contacto i{
    font-size: 18px;
    margin-right: 16x;
  }
  .contenido1 {
    max-width: 1000px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  .contenido1-imagen {
    height: 100vh;
  }
  .contenido1-imagen img {
    width: 50%;
    height: 50%;
    vertical-align: top;
    object-fit: cover;
    object-position:  bottom;
  }
  .ima1{
    display: flex;
    justify-content: right;
    
  }
  aside{
    min-width: 30%;
    margin: 40px 20px 20px 0;
    height: 100%;
    background-color: #4763ff;
    padding: 20px;
    border-radius: 3px;
    
  }
  aside .titulo{
    font-family: Montserrat, sans-serif;
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(188, 213, 235);
  }
  aside .indice a{
    display: block;
    margin-bottom: 10px;
    color: #f1ef40;
  }
  .fecha{
    color: #000000;
  }
  footer{
    background-color: #47a6ff;
    position: sticky;
  }
  h2{
    display: flex;
    justify-content: center;
  }
  .aside1{
    display: grid;
  place-content: right;
    width: 250px;
    height: 500px;
    background-color: rgba(0, 0, 255, 0.377) ;
    float: right;

  }
 



